<html>
    <head>

    </head>
    <body>
        <h1>Welcome , You can add your bills or see the status of the pre-approved bills here </h1>

        <label name="name">Enter your Name: </label>
        <input type="text" name="name" id="name" placeholder="Abhishek dige"><br>

        <label name="Description">Description: </label>
        <input type="text" name="description" id="desctiption" ><br>

        <label name="date">Date: </label>
        <input type="date" name="date" id="date"><br>

        <label for="Category">Category: </label>
        <select id="Category" name="Category"  aria-placeholder="Category">
            <option value="travel">Travel</option>
            <option value="mealsandentertainment">Meals and Entertainment</option>
            <option value="officesupplies">Office Supplies</option>
            <option value="professionaldevelopment">Professional Development </option>
            <option value="miscellaneous">Miscellaneous</option>
        </select><br>

        <label for="paidby">Paid by: </label>
        <input type="text" name="paidby" id="paidby"><br>

        <label for="remarks">Remarks: </label>
        <input type="text" name="remarks" id="remarks"><br>
        
        <label for="amount">Amount: </label>
        <input type="number" name="amount" id="amount"><br>

    </body>
</html>